In [1]:
from df_utils import load_df
from crawl_ids import CrawlRokuMITM, CrawlFireTVMITM, CrawlFireTVTop1KMITM, CrawlRokuTop1KMITM

## MITMed connections - Roku

In [6]:
http_roku = load_df(CrawlRokuMITM, "http_req")
intercepted_roku = http_roku[http_roku.tcp_dstport == 443]
print(len(intercepted_roku), "requests intercepted/MITM'ed (Roku)")
print(intercepted_roku.host.nunique(), intercepted_roku.channel_id.nunique())

(135, "requests intercepted/MITM'ed (Roku)")
(9, 6)

In [7]:
df = intercepted_roku.drop_duplicates(['channel_id', 'host'])[['channel_name', 'rank', 'host']].sort_values('rank')
df

,channel_name,rank,host
3035,Fox News Channel,35,api.segment.io
2986,fuboTV Watch Live Sports & TV,43,api.segment.io
2987,fuboTV Watch Live Sports & TV,43,api.fubo.tv
2988,fuboTV Watch Live Sports & TV,43,app.launchdarkly.com
957,Newsy,45,cloudapi.imrworldwide.com
2134,Haystack TV Local & World News,75,www.haystack.tv
2135,Haystack TV Local & World News,75,haystackvideo.herokuapp.com
3149,WWE Network,78,cde-cops-wwe-prod.us-east-1.bamgrid.com
1707,NBA,80,www.nba.com
1723,NBA,80,geo.ngtv.io

### Roku 1K MITM crawl (finished after the paper)
- TODO: consider updating the table in the paper with data from the 1K crawl

In [9]:
http_roku = load_df(CrawlRokuTop1KMITM, "http_req")
intercepted_roku = http_roku[http_roku.tcp_dstport == 443]
print(len(intercepted_roku), "requests intercepted/MITM'ed (Roku)")
print(intercepted_roku.host.nunique(), intercepted_roku.channel_id.nunique())

(2472, "requests intercepted/MITM'ed (Roku)")
(34, 43)

In [10]:
df = intercepted_roku.drop_duplicates(['channel_id', 'host'])[['channel_name', 'rank', 'host']].sort_values('rank')
df.head(10)

                        channel_name  rank                           host
40787                    DIRECTV NOW     7              api.cld.dtvce.com
68828                           VUDU    15              apicache.vudu.com
68805                           VUDU    15          vudu.d1.sc.omtrdc.net
66060                            NBC    19  ws-cloudpath.media.nbcuni.com
24275               Fox News Channel    35                 api.segment.io
68141  fuboTV Watch Live Sports & TV    43                    api.fubo.tv
68142  fuboTV Watch Live Sports & TV    43                 api.segment.io
68144  fuboTV Watch Live Sports & TV    43           app.launchdarkly.com
57598                          Newsy    45      cloudapi.imrworldwide.com
46715                            MTV    54          auth.mtvnservices.com

In [7]:
from nb_utils import make_latex_table
print(make_latex_table(df,
                       caption="TLS Connections intercepted and decrypted by our smart mitmproxy",
                       label="tab:mitmed_roku"))

\begin{table}[H]
%\centering
%\resizebox{\columnwidth}{!}{%
\begin{tabular}{lrl}
\toprule
 Channel name                   &   Rank & Host                                    \\
\midrule
 Fox News Channel               &     35 & api.segment.io                          \\
 fuboTV Watch Live Sports \& TV  &     43 & api.segment.io                          \\
 fuboTV Watch Live Sports \& TV  &     43 & api.fubo.tv                             \\
 fuboTV Watch Live Sports \& TV  &     43 & app.launchdarkly.com                    \\
 Newsy                          &     45 & cloudapi.imrworldwide.com               \\
 Haystack TV Local \& World News &     75 & www.haystack.tv                         \\
 Haystack TV Local \& World News &     75 & haystackvideo.herokuapp.com             \\
 WWE Network                    &     78 & cde-cops-wwe-prod.us-east-1.bamgrid.com \\
 NBA                            &     80 & www.nba.com                             \\
 NBA                            &     80 & geo.ngtv.io                             \\
\bottomrule
\end{tabular}
%}
\caption{TLS Connections intercepted and decrypted by our smart mitmproxy}
\label{tab:tab:mitmed_roku}
\end{table}

## MITMed connections - Amazon
- based on 1K crawl

In [13]:
http_amazon = load_df(CrawlFireTVTop1KMITM, "http_req")
intercepted_amazon = http_amazon[http_amazon.tcp_dstport == 443]
len(intercepted_amazon)
print(len(intercepted_amazon), "requests intercepted/MITM'ed (Amazon)")
print(intercepted_amazon.host.nunique(), intercepted_amazon.req_domain.nunique(), intercepted_amazon.channel_id.nunique())

68040 requests intercepted/MITM'ed (Amazon)
1721 785 957

In [14]:
df = intercepted_amazon.drop_duplicates(['channel_id'])[['channel_name', 'rank', 'host']].sort_values('rank').head(10)
df

,channel_name,rank,host
15002,Tubi - Watch Free Movies &amp; TV Shows,1,graph.facebook.com
58251,AMC,2,device-metrics-us.amazon.com
51080,Firefox for Fire TV,3,msh.amazon.com
13346,Downloader,4,notify.firetv.bugsnag.appstore.a2z.com
41249,HBO GO,5,dna.amazon.com
21492,DAZN,6,notify.firetv.bugsnag.appstore.a2z.com
16745,NBC,7,msh.amazon.com
13818,Pluto TV - It&#39;s Free TV,8,device-messaging-na.amazon.com
77985,HBO NOW: Stream TV &amp; Movies,9,prime.amazon.com
4309,Spotify Music - for Fire TV,10,settings.crashlytics.com

In [44]:
print(make_latex_table(df,
                 caption="Top channels where TLS Connections intercepted and decrypted by our smart mitmproxy (Fire TV)",
                 label="tab:mitmed_amazon"))

\begin{table}[H]
%\centering
\resizebox{\columnwidth}{!}{%
\begin{tabular}{lrl}
\toprule
 Channel name                            &   Rank & Host                           \\
\midrule
 Tubi - Watch Free Movies \&amp; TV Shows &      1 & device-metrics-us.amazon.com   \\
 AMC                                     &      2 & settings.crashlytics.com       \\
 Beachbody On Demand                     &      4 & prime.amazon.com               \\
 HBO GO                                  &      5 & msh.amazon.com                 \\
 NBC                                     &      7 & prime.amazon.com               \\
 Pluto TV - It\&\#39;s Free TV             &      8 & settings.crashlytics.com       \\
 HBO NOW: Stream TV \&amp; Movies         &      9 & comet.api.hbo.com              \\
 CBS Full Episodes and Live TV           &     11 & graph.facebook.com             \\
 The CW on Fire TV                       &     12 & settings.crashlytics.com       \\
 FOX NOW: Watch TV Live \&amp; On Demand  &     15 & appstore-tv-prod-na.amazon.com \\
\bottomrule
\end{tabular}
}
\caption{Top channels where TLS Connections intercepted and decrypted by our smart mitmproxy (Fire TV)}
\label{tab:tab:mitmed_amazon}
\end{table}